{% extends "NBMainBundle::layout.html.twig" %}

{% block title %} Profile {% endblock %}


{% block content %}
<div class="page-title-container">
    <div class="container">
        <div class="page-title pull-left">
            <h2 class="entry-title">Mon Compte</h2>
        </div>
        <ul class="breadcrumbs pull-right">
            <li><a href="#">ACCUEIL</a></li>
            <li class="active">Mon Compte</li>
        </ul>
    </div>
</div>
    <section id="content" class="gray-area">
        <div class="container">
            <div id="main">
                <div class="tab-container full-width-style arrow-left dashboard">
                    <ul class="tabs">
                        <li class="active"><a data-toggle="tab" href="#dashboard"><i class="soap-icon-anchor circle"></i>Tableau de Bord</a></li>
                        <li class=""><a data-toggle="tab" href="#profile"><i class="soap-icon-user circle"></i>Profil</a></li>
                        <li class=""><a data-toggle="tab" href="#booking"><i class="soap-icon-businessbag circle"></i>Réservations</a></li>
                        <li class=""><a data-toggle="tab" href="#settings"><i class="soap-icon-settings circle"></i>Réglages</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="dashboard" class="tab-pane fade in active">
                            <h1 class="no-margin skin-color">Bonjour {{ app.user.prenom }}, Bienvenue à nextBus !</h1>
                            <p>Tous vos voyages réservés avec nous apparaîtront ici et vous serez en mesure de gérer tout!</p>
                            <br />

                            <div class="notification-area">
                                <div class="info-box block">
                                    <span class="close"></span>
                                    <p>Ceci est votre tableau de bord, l'endroit idéal pour vérifier votre profil,
                                        afficher des informations de voyage à venir, et bien plus encore.</p>
                                    <br />
                                    <ul class="circle">
                                        <li><span class="skin-color">Apprenez comment ça marche</span> — Regardez une courte vidéo qui vous montre comment fonctionne nextBus.</li>
                                        <li><span class="skin-color">Obtenir de l'aide</span> — Consultez notre section d'aide et nos FAQ pour commencer à utiliser nextBus. </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row block">

                                <div class="col-md-12">
                                    <h2>Activités Récentes </h2>
                                    <div class="recent-activity">
                                        <ul>
                                            {% for key, val in recentActivity %}
                                                <li>
                                                    <a href="#">
                                                        <i class="icon soap-icon-plane-right circle takeoff-effect yellow-color"></i>
                                                        <span class="price"><small>Tarifs</small>{{ val.voyages.prix }} FCFA</span>
                                                        <h4 class="box-title">
                                                            {{ val.voyages.axes.nom }}
                                                        </h4>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                {% include 'FOSUserBundle:Profile:footer.html.twig' %}

                            </div>
                        </div>
                        <div id="profile" class="tab-pane fade">
                            <div class="view-profile">
                                <article class="image-box style2 box innerstyle personal-details">
                                    <figure>
                                        <a title="" href="#"><img width="270" height="263" alt="" src="http://placehold.it/270x263"></a>
                                    </figure>
                                    <div class="details">
                                        <a href="#" class="button btn-mini pull-right edit-profile-btn ">MODIFIER PROFIL</a>
                                        <h2 class="box-title fullname"> {{ app.user.prenom }} {{ app.user.nom }}</h2>
                                        <dl class="term-description">
                                            <dt>Nom d'utilisateur:</dt><dd>{{ app.user.email }}</dd>
                                            <dt>Nom:</dt><dd>{{ app.user.nom }}</dd>
                                            <dt>Prénom:</dt><dd>{{ app.user.prenom }}</dd>
                                            <dt>Numéro de telephone:</dt><dd>{{ app.user.mob }}-HELLO</dd>
                                            <dt>Adresse:</dt><dd>{{ app.user.adresse }}</dd>
                                            <dt>Ville:</dt><dd>Paris,France</dd>
                                            <dt>Pays:</dt><dd>United States of america</dd>
                                        </dl>
                                    </div>
                                </article>
                                <hr>
                                <div class="row">
                                    {% include 'FOSUserBundle:Profile:footer.html.twig' %}
                                </div>
                            </div>
                            <div class="edit-profile">
                                {{ form_start(form) }}
                                    <h2>Détails personnels</h2>
                                    <div class="col-sm-9 no-padding no-float">
                                        <div class="row form-group">
                                            <div class="col-sms-6 col-sm-6">
                                                <label>Nom</label>
                                                {{ form_widget(form.nom, {'attr': {'class': 'input-text input-large full-width', 'placeholder' : 'Entrez votre nom', 'required': 'required' }}) }}
                                            </div>
                                            <div class="col-sms-6 col-sm-6">
                                                <label>Prenom</label>
                                                {{ form_widget(form.prenom, {'attr': {'class': 'input-text input-large full-width', 'placeholder' : 'Entrez votre prenom', 'required': 'required' }}) }}
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sms-12 col-sm-12">
                                                <label>Email Address</label>
                                                {{ form_widget(form.email, {'attr': {'class': 'input-text input-large full-width', 'placeholder' : 'Nom d\'utilisateur', 'required': 'required' }}) }}
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sms-12 col-sm-12">
                                                <label>Numéro de Téléphone</label>
                                                {{ form_widget(form.mob, {'attr': {'class': 'input-text input-large full-width', 'placeholder' : 'Entrez votre numero de téléphone', 'required': 'required' }}) }}
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label>Date de  naissance</label>
                                            <div class="datepicker">
                                                {{ form_widget(form.dob, {'attr': {'class': 'input-text input-large full-width', 'placeholder' : 'JJ/MM/AAAA', 'required': 'required' }}) }}

                                            </div>
                                        </div>
                                        <hr>
                                        <h2>Contact </h2>
                                        <div class="row form-group">
                                            <div class="col-sms-6 col-sm-6">
                                                <label>Adresse</label>
                                                {{ form_widget(form.adresse, {'attr': {'class': 'input-text input-large full-width', 'placeholder' : 'Entrez votre adresse', 'required': 'required' }}) }}
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sms-6 col-sm-6">
                                                <label>Ville</label>
                                                {{ form_widget(form.ville, {'attr': {'class': 'input-text input-large full-width', 'placeholder' : 'Entrez votre adresse', 'required': 'required' }}) }}
                                            </div>
                                            <div class="col-sms-6 col-sm-6">
                                                <label>Pays</label>
                                                    <div class="selector">
                                                        {{ form_widget(form.pays, {'attr': {'class': 'input-text input-large full-width', 'placeholder' : 'Entrez votre adresse', 'required': 'required' }}) }}
                                                    </div>
                                            </div>
                                        </div>
                                        <hr>

                                        <div class="from-group">
                                            <button type="submit" name="_submit" class="btn-medium col-sms-6 col-sm-4">UPDATE SETTINGS</button>
                                        </div>

                                    </div>
                                {{ form_rest(form) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                        <div id="booking" class="tab-pane fade">
                            <h2>Voyages que vous avez réservés!</h2>

                            <div class="booking-history">
                                {% for key, val in reservation %}
                                    <div class="booking-info clearfix">
                                        <div class="date">
                                            <label class="month">{{ val.doj | date('M') }}</label>
                                            <label class="date">{{ val.doj | date('d') }}</label>
                                            <label class="day">{{ val.doj | date('D') }}</label>
                                        </div>
                                        <h4 class="box-title"><i class="icon soap-icon-plane-right takeoff-effect yellow-color circle"></i>{{ val.voyages.axes.nom }}</h4>
                                        <dl class="info">
                                            <dt>VOYAGE ID</dt>
                                            <dd>{{ val.tickets.ticketNo }}</dd>
                                            <dt>réserver le</dt>
                                            <dd>{{ val.doj |date('D, d M Y') }}</dd>
                                        </dl>
                                        {% if val.doj |date('Y-m-d') < "now"|date('Y-m-d') %}
                                            <button class="btn-mini bg-green status">A VENIR</button>
                                        {% else %}
                                            <button class="btn-mini status">DEPASSE</button>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                        </div>
                    </div>

                        
                        <div id="settings" class="tab-pane fade">
                            <h2>Account Settings</h2>
                            <h5 class="skin-color">Change Your Password</h5>
                            <form >
                                <div class="row form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <label>Old Password</label>
                                        <input type="text" class="input-text full-width">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <label>Enter New Password</label>
                                        <input type="text" class="input-text full-width">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <label>Confirm New password</label>
                                        <input type="text" class="input-text full-width">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn-medium">UPDATE PASSWORD</button>
                                </div>
                            </form>
                            <hr>
                            <h5 class="skin-color">Change Your Email</h5>
                            <form>
                                <div class="row form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <label>Old email</label>
                                        <input type="text" class="input-text full-width">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <label>Enter New Email</label>
                                        <input type="text" class="input-text full-width">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <label>Confirm New Email</label>
                                        <input type="text" class="input-text full-width">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn-medium">UPDATE EMAIL ADDRESS</button>
                                </div>
                            </form>
                            <hr>
                            <h5 class="skin-color">Send Me Emails When</h5>
                            <form>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Travelo has periodic offers and deals on really cool destinations.
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Travelo has fun company news, as well as periodic emails.
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> I have an upcoming reservation.
                                    </label>
                                </div>
                                <button class="btn-medium uppercase">Update All Settings</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        tjq(document).ready(function() {
            tjq("#profile .edit-profile-btn").click(function(e) {
                e.preventDefault();
                tjq(".view-profile").fadeOut();
                tjq(".edit-profile").fadeIn();
            });

            setTimeout(function() {
                tjq(".notification-area").append('<div class="info-box block"><span class="close"></span><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ab quis a dolorem, placeat eos doloribus esse repellendus quasi libero illum dolore. Esse minima voluptas magni impedit, iusto, obcaecati dignissimos.</p></div>');
            }, 10000);
        });
        tjq('a[href="#profile"]').on('shown.bs.tab', function (e) {
            tjq(".view-profile").show();
            tjq(".edit-profile").hide();
        });
    </script>
{% endblock %}
