<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
<head>
    <!-- Page Title -->
    <title>Votre compte  a été activé - La première plateforme d'achat et de réservation de billet de bus</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="voyage bus, bus voyage, billet de bus pas cher, bus mali, voyage car, bus pas cher mali, reservation bus, mali bus, billet de bus,
    billet bus, billet pas cher, prix billet, voyage mali, reservation nextBus, nextBus, reservation en ligne,
    plateforme de vente mali, plateforme de vente au mali, plateforme de vente de billet de bus, plateforme de vente
    de billet de bus au Mali, reserver, reserver mali, reserver au mali, achat de billet, billet mali,
    billet de bus mali, plateforme de reservation de billet de bus au Mali" />

    <meta name="description" content="{% block description %}Avec nextBus, voyagez moins chèr en bus au Mali et en Afrique de l'Ouest . Réservez/acheter votre billet en ligne en quelques clics ! {% endblock %}">
    <meta name="author" content="Next Group SARL">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ absolute_url(asset('favicon.png')) }}" sizes="32x32" type="image/png">
    <!-- Theme Styles -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/bootstrap.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/font-awesome.min.css')) }}">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/animate.min.css')) }}">

    <!-- Current Page Styles -->
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/components/revolution_slider/css/settings.css')) }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/components/revolution_slider/css/style.css')) }}" media="screen" />

    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="{{ absolute_url(asset('assets/css/style.css')) }}">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/custom.css')) }}">

    <!-- Updated Styles -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/updates.css')) }}">

    <!-- Responsive Styles -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/responsive.css')) }}">

    <!-- CSS for IE -->
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/css/ie.css')) }}" />
    <![endif]-->


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

</head>
<body class="soap-login-page style1 body-blank">
<div id="page-wrapper" class="wrapper-blank">
    <header id="header" class="navbar-static-top">
        <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle blue-bg">Mobile Menu Toggle</a>
        <div class="container">
            <h1 class="logo">

            </h1>
        </div>
        <nav id="mobile-menu-01" class="mobile-menu collapse menu-color-blue">
            {% include '::includes/mobile_menu.html.twig' %}

        </nav>
        <div id="travelo-signup" class="travelo-signup-box travelo-box">
            {% include '::includes/inscription.html.twig' %}
        </div>
        <div id="travelo-login" class="travelo-login-box travelo-box">
            {% include '::includes/login.html.twig' %}
        </div>
    </header>
    <section id="content">
        <div class="container">
            <div id="main">
                <h1 class="logo block">
                    <a href="{{ path('nb_main_homepage') }}" title="nextBus - Accueil">
                        <img src="{{ absolute_url(asset('assets/images/logo2.png')) }}" alt="Logo nextBus" />
                    </a>
                </h1>
                <div class="text-center yellow-color box" style="font-size: 4em; font-weight: 300; line-height: 1em;">{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</div>
                <p class="white-color block" style="font-size: 1.5em;">
                    {% if app.session is not empty %}
                    {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
                {% endif %}
                </p>

            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="footer-wrapper">
            <div class="container">
                <nav id="main-menu" role="navigation" class="inline-block hidden-mobile">
                    {% include '::includes/desktop_menu.html.twig' %}
                </nav>
                <div class="copyright">
                    <p>&copy; {{ 'now' | date('Y') }} nextBus</p>
                </div>
            </div>
        </div>
    </footer>

</div>


<!-- Javascript -->
<script type="text/javascript" src="{{ absolute_url(asset('assets/js/jquery-1.11.1.min.js')) }}"></script>
<script type="text/javascript" src="{{ absolute_url(asset('assets/js/jquery.noconflict.js')) }}"></script>
<script type="text/javascript" src="{{ absolute_url(asset('assets/js/modernizr.2.7.1.min.js')) }}"></script>
<script type="text/javascript" src="{{ absolute_url(asset('assets/js/jquery-migrate-1.2.1.min.js')) }}"></script>
<script type="text/javascript" src="{{ absolute_url(asset('assets/js/jquery.placeholder.js')) }}"></script>
<script type="text/javascript" src="{{ absolute_url(asset('assets/js/jquery-ui.1.10.4.min.js')) }}"></script>

<!-- Twitter Bootstrap -->
<script type="text/javascript" src="{{ absolute_url(asset('assets/js/bootstrap.js')) }}"></script>


<!-- parallax -->
<script type="text/javascript" src="{{ absolute_url(asset('assets/js/jquery.stellar.min.js')) }}"></script>

<!-- waypoint -->
<script type="text/javascript" src="{{ absolute_url(asset('assets/js/waypoints.min.js')) }}"></script>

<!-- load page Javascript -->
<script type="text/javascript" src="{{ absolute_url(asset('assets/js/theme-scripts.js')) }}"></script>
<script type="text/javascript" src="{{ absolute_url(asset('assets/js/scripts.js')) }}"></script>

<script type="text/javascript">
    enableChaser = 0; //disable chaser
</script>
</body>
</html>


