<ul class="menu">
    <li class="">
        <a href="{{ path('nb_main_homepage') }}">Accueil</a>
    </li>
    <li class="">
        <a href="">Locations de voitures</a>
    </li>
    <li><a href="{{ path('nb_main_aboutus') }}">Qui sommes-nous ?</a></li>
    <li><a href="{{ path('nb_main_promo') }}">Bons plans</a></li>


    <li class="">
        <a href="{{ path('nb_main_devenir_partenaire') }}">Devenir Partenaire</a>
    </li>
    <li class="">
        <a href="{{ path('nb_main_contact') }}">Contact</a>
    </li>


</ul>