{% extends "::base.html.twig" %}

{% block title %}Informations clients | La première plateforme d'achat et de réservation de billet de bus {% endblock %}
{% block keywords %}
    voyage bus, bus voyage, billet de bus pas cher, bus mali, voyage car, bus pas cher mali, reservation bus, mali bus, billet de bus,
    billet bus, billet pas cher, prix billet, voyage mali, reservation nextBus, nextBus, reservation en ligne,
    plateforme de vente mali, plateforme de vente au mali, plateforme de vente de billet de bus, plateforme de vente
    de billet de bus au Mali, reserver, reserver mali, reserver au mali, achat de billet, billet mali,
    billet de bus mali, plateforme de reservation de billet de bus au Mali
{% endblock %}

{% block content %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">{{ search.axes.nom }} Le {{ dateJ |date('d M Y') }}</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">ACCUEIL</a></li>
                <li class="active">Informations clients</li>
            </ul>
        </div>
    </div>
    <section id="content">
        <div class="container">
            <div id="main">

                <div class="col-sm-8 col-md-9">
                    <div class="booking-section travelo-box">

                        <form novalidate="novalidate" class="booking-form" method="post">
                            <div class="person-information">
                                <h2>Vos Informations personnelles</h2>
                                {% for flashMessage in app.session.flashbag.get('error') %}

                                    <h4 class="red-color"> {{ flashMessage }}</h4>

                                {% endfor %}
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Prenom</label>
                                        <input type="text" name="nom"  class="input-text full-width" value="{% if app.user %} {{ app.user.nom }} {% endif %}" placeholder="" />
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Nom de famille</label>
                                        <input type="text" name="prenom" class="input-text full-width" value="{% if app.user %} {{ app.user.prenom }} {% endif %}" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Adresse Email</label>
                                        <input type="text" name="email" class="input-text full-width" value="{% if app.user %} {{ app.user.email }} {% endif %}" placeholder="" />
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Age </label>
                                            <input type="text" name="age" class="input-text full-width" value="" placeholder="" />
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <label>Sexe </label>
                                            <div class="selector">
                                                <select class="selector" name="sexe">
                                                    <option value="m">Homme</option>
                                                    <option value="f">Femme</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Numéro de Téléphone</label>
                                        <input type="text" name="telephone" class="input-text full-width" value="{% if app.user %} {{ app.user.mob }} {% endif %}" placeholder="" />
                                    </div>
                                    <div class="col-sm-6 text-center col-md-5">
                                        <label>Point d'embarquement</label>
                                        <div class="selector">
                                            <select name="boardingPoint">
                                                {% for key, val in search.pointEmbarquement %}
                                                    <option value="{{ val.id }}">{{ val.nom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <br><br><h3><b>Paiement 100% sécurisé via</b></h3>
                                        <img src="{{ absolute_url('assets/images/om.png') }}" />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        En continuant  vous acceptez les <a href="#"><span class="skin-color">Termes et Conditions</span></a>.
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-5">
                                    <button  class="full-width btn-large">CONFIRMER & PAYER </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="sidebar col-md-3">
                    <div class="booking-details travelo-box">
                        <h4>Détails </h4>
                        <article class="flight-booking-details">
                            <figure class="clearfix">
                                <a title="" href="#" class="middle-block"><img src="http://administration.next-bus.net/assets/images/uploads/compagnies/logo/{{ search.compagnie.logo }}" class="middle-item" alt=""></a>
                                <div class="travel-title">
                                    <h5 class="box-title">{{ search.axes.source.nom }} à {{ search.axes.destination.nom }}</h5>
                                </div>
                            </figure>
                            <div class="details">
                                <div class="constant-column-3 timing clearfix">
                                    <div class="check-in">
                                        <label>Départ</label>
                                        <span>{{ dateJ | date('d M Y') }}<br />{{ search.heureDepart | date('H:i') }} </span>
                                    </div>
                                    <div class="duration text-center">
                                        <i class="soap-icon-clock"></i>
                                        <span>{{ search.duree }}</span>
                                    </div>
                                    <div class="check-out">
                                        <label>Arrivée</label>
                                        <span>{{ dateJ | date('d M Y') }}<br />{{ search.heureArrivee | date('H:i') }}</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <h4>Autres Details</h4>
                        <dl class="other-details">
                            <dt class="feature">Compagnie:</dt><dd class="value">{{ search.compagnie.nom }}</dd>
                            <dt class="feature">Type de bus:</dt><dd class="value">
                                {% if search.axes.typeBus == 1 %}
                                    Climatisé
                                {% else %}
                                    Ventilé
                                {% endif %}

                            </dd>
                            <dt class="feature">Tarif :</dt><dd class="value">{{ search.prix | number_format(0, '.', ',') }} FCFA</dd>
                        </dl>
                    </div>
                    <div class="travelo-box contact-box">
                        <h4>Besoin d'aide?</h4>
                        <p>Nous serons heureux de vous aider. Notre service client est à votre disposition 24/7 pour accompagner.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i> 44-27-27-18-HELLO</span>
                            <br>
                            <a class="contact-email" href="#">aide@next-bus.net</a>
                        </address>
                    </div>
                    <div class="travelo-box book-with-us-box">
                        <h4>Pourquoi réserver avec nous ?</h4>
                        <ul>
                            <li>
                                <i class="soap-icon-hotel-1 circle"></i>
                                <h5 class="title"><a href="#">Facile & Simple</a></h5>
                                <p>Avec une ergonomie à la pointe de la technologie, nextBus vous permet
                                    d'avoir votre billet en seulement 3 clics.</p>
                            </li>
                            <li>
                                <i class="soap-icon-savings circle"></i>
                                <h5 class="title"><a href="#">+7500 Destinations</a></h5>
                                <p>Fort de son engagement à offrir le plus de choix au possible aux voyageurs,
                                    nextBus donne accès à plus 7500 destinations nationales et sous-régionales.</p>
                            </li>
                            <li>
                                <i class="soap-icon-support circle"></i>
                                <h5 class="title"><a href="#">Excellent Service Client</a></h5>
                                <p>Une équipe professionelle et dynamique à votre service 24/7 pour vous accompagner et
                                    vous aider.</p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    <script type="text/javascript">


    </script>
{% endblock %}